@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>While using 0Chan, we collect the following data from you:</p>
<ul>
    <li>Real life name</li>
    <li>Criminal record</li>
    <li>Social score (if you're a citizen of China)</li>
    <li>Search history</li>
    <li>IP address</li>
    <li>Social security number</li>
    <li>Purchase history</li>
    <li>Political opinions</li>
    <li>Emails</li>
    <li>Credit card information</li>
</ul>
<p>This data is sold to the governments of Russia, China, North Korea, United States, Luxembourg and Somalia.</p>
<p>If you dont consent: Too bad! We dont care.</p>